<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VISUAL_USER_SELECTED" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/> -->
<!--   below permissions were removed during testing  (bluetooth and location)-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.MANAGE_DEVICE_POLICY_CAMERA" />

    <uses-permission
        android:name="com.google.android.gms.permission.AD_ID"
        tools:node="remove" />
    <uses-feature
        android:name="android.hardware.bluetooth"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />

    <uses-feature android:name="android.hardware.camera.any" />

    <uses-permission android:name="android.permission.CAMERA" />
<!--    <uses-permission-->
<!--        android:name="android.permission.WRITE_EXTERNAL_STORAGE"-->
<!--        android:maxSdkVersion="28" />-->

    <application
        android:allowBackup="false"
        android:hasFragileUserData="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:taskAffinity=""
        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        android:theme="@style/Theme.Aeps"
        tools:replace="android:allowBackup,android:icon, android:roundIcon, android:theme, android:usesCleartextTraffic,
android:requestLegacyExternalStorage">

<!--        android:networkSecurityConfig="@xml/network_security_config"-->
        <!--
             TODO: Before you run your application, you need a Google Maps API key.

             To get one, follow the directions here:

                https://developers.google.com/maps/documentation/android-sdk/get-api-key

             Once you have your API key (it starts with "AIza"), define a new property in your
             project's local.properties file (e.g. MAPS_API_KEY=Aiza...), and replace the
             "YOUR_API_KEY" string in this file with "${MAPS_API_KEY}".
        -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAvtn_PgUoUMU-q9b27sy9auK2lU5TgwP4" />

        <!-- android:debuggable="false" -->
        <!-- , android:debuggable -->
        <activity
            android:name=".Activity.AirWebviewActivity"
            android:exported="false"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Activity.TestActivity" />
        <activity
            android:name=".credopay.CredoPayActivityJava"
            android:exported="false" />
        <activity android:name=".jctPayment.newaeps.AepsWebviewActivity" />
        <activity android:name=".rapipayMatm.TxnListActivity" />
        <activity android:name=".jctPayment.fino.finomvvm.view.FinoCashWithdrawActivity" /> <!-- Activity.SplashScreen -->
        <activity
            android:name=".Activity.SplashScreen"
            android:label="@string/app_name"
            android:exported="true"
            android:screenOrientation="portrait"
            android:taskAffinity=""
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.NavigationDrawerActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
<!--        android:permission="android.permission.ACCESS_WIFI_STATE"-->
<!--        for security purpose use permissions in activity tag like this-->
        <activity
            android:name=".Activity.MyLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.MyLoginActivityNew"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.MyLoginBiometricEnable"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.EnableBiometricLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Activity.RegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Fragment.registration.RegistrationActivityNew"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".Fragment.changepassword.ChangePasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".chatting.ChattingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".chatting.SignInActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MoneyTransferActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activity.MoneyTransferNextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <!--
 <activity
            android:name="calendar.CalendarDayDecoratorActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        -->
        <service
            android:name=".chatting.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".chatting.MyFirebaseInstanceIdService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

<!--        below changes for exported true-->
       <!-- <service
            android:name="net.gotev.uploadservice.UploadService"
            android:enabled="true"
            android:exported="false"
            tools:replace="android:exported">
        </service>
        <activity
            android:name="androidx.biometric.DeviceCredentialHandlerActivity"
            android:exported="false"
            android:theme="@style/DeviceCredentialHandlerTheme"
            tools:replace="android:exported"/>
        <activity
            android:name="com.service.finopayment.Hostnew"
            android:exported="false"
            tools:replace="android:exported">
        </activity>-->
       <!-- <activity
            android:name="com.google.firebase.auth.internal.RecaptchaActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:exported">

        </activity>
        <activity
            android:name="com.google.firebase.auth.internal.GenericIdpActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            tools:replace="android:exported"
            >
        </activity>-->

        <activity
            android:name=".Activity.MapsActivity"
            android:label="@string/title_activity_maps" />
        <activity android:name=".Activity.TicTacActivity" />
        <activity
            android:name=".jctPayment.Dashboard_New_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_dashboard__new_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jctPayment.Dashboard_Old_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_dashboard__new_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jctPayment.Cash_Deposit_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cash_deposit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jctPayment.Cash_Withdrawl_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cash_withdraw"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.newaeps.AepsRegistrationActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_registration"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.Cash_Withdrawl_Activity_old"
            android:configChanges="orientation"
            android:label="@string/title_activity_cash_withdraw"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.Balance_Enquiry_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_balance_enquiry"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.Balance_Enquiry_Activity_old"
            android:configChanges="orientation"
            android:label="@string/title_activity_balance_enquiry"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.newaeps.Balance_Enquiry_Activity_N"
            android:configChanges="orientation"
            android:label="@string/title_activity_balance_enquiry"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.newaeps.Cash_Withdrawl_Activity_N"
            android:configChanges="orientation"
            android:label="@string/title_activity_cash_withdraw"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.newaeps.KycActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cash_withdraw"
            android:supportsRtl="true"
            android:theme="@style/Theme.Aeps"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".jctPayment.BankDetailsActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_bank_details"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jctPayment.Activities.Receipt_Activity"
            android:configChanges="orientation"
            android:label="@string/title_activity_receipt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jctPayment.Activities.ViewAllTransaction"
            android:configChanges="orientation"
            android:label="@string/title_activity_viewAll"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jctPayment.CashPayoutRequestActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cashPayout"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jctPayment.CashPayoutHistoryActivity"
            android:configChanges="orientation"
            android:label="@string/title_activity_cashPayoutHistory"
            android:theme="@style/AppTheme.NoActionBar" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="android:authorities">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths_jck"
                tools:replace="android:resource" />
        </provider>
    </application>

</manifest>